body, th, td, li {font-family: sans-serif}
h1, h3{text-align: center}
th{font-weight: bold; text-align: left}
td{text-align: left;}
body{background-color: #b0c4de;}

div.center {
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table#modules {
	width: 70%;
	margin-left:15%;
	margin-right:15%;
	border-collapse: separate;
    border-spacing: 15px;
}

#buttonright{
	float: right;
}